@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&family=Inter&family=Overpass:wght@400;700&display=swap");

body {
  margin: 0px;
}
.conteiner {
  width: 1298px;
  margin: 0 auto;
}
.nav {
  border: 1px black solid;
  width: 458px;
  height: 38px;
  list-style: none;
  display: flex;
  margin-left: 667px;
  margin-top: 134px;
  padding: 0px;
  align-items: center;
  float: right;
  position: relative;
  left: -126px;
}
.nav__link {
  width: 81px;
  height: 32px;
  margin-top: 3px;
  padding: 6px 22px 6px 22px;
  gap: 10px;
  text-decoration: none;
}
.nav__text {
  color: rgb(37, 27, 55);
  font-family: "Overpass";
  font-weight: 400;
  font-size: 16px;
  line-height: 20.26px;
  line-height: 100%;
  text-align: center top;
  width: 37px;
  height: 20px;
  margin-top: 6px;
  margin-left: 22px;
  text-align: center;
}
.poisk-blok {
  height: 38px;
  position: relative;
  left: -14px;
}
.logo {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  width: 126px;
  height: 29px;
  margin-top: 138px;
  margin-left: 11px;
  position: relative;
  float: left;
}
.shadow {
  width: 281px;
  height: 395px;
  position: absolute;
}
.header-blok-text {
  width: 522px;
  height: 293px;
  margin-top: 328px;
  margin-left: 10px;
  position: absolute;
}
.header-blok-text__text1 {
  font-family: "Fira Sans Condensed";
  font-style: "regular";
  font-size: 75px;
  font-weight: 500;
  line-height: 90px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
}
.header-blok-text__text2 {
  font-family: "Fira Sans Condensed";
  font-style: light;
  font-size: 48px;
  font-weight: 300;
  line-height: 58px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
}
.header-blok-text__text3 {
  font-family: "Overpass";
  font-style: "regular";
  font-size: 14px;
  line-height: 18px;
  line-height: 100%;
  width: 447px;
}
.header-blok-text__knopka {
  width: 144px;
  margin-top: 36px;
  position: relative;
  left: -10px;
}
.socialmedia-blok {
  width: 200px;
  height: 24px;
  margin-top: 89px;
  margin-left: 13px;
  position: relative;
  float: left;
  top: 400px;
}
.socialmedia-blok__img {
  width: 22px;
  height: 22px;
  margin-right: 30px;
}
.header__img {
  width: 900px;
  height: 800px;
  float: left;
  margin-left: 520px;
  margin-top: -250px;
}
