@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&family=Inter&family=Overpass:wght@400;700&display=swap");
/*Обнуление CSS*/
* {
  padding: 0px;
  margin: 1px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Конец обнуления CSS*/
body {
  margin: 0px;
}
.conteiner {
  width: 1298px;
  margin: 0 auto;
}
.header {
  width: 1500px;
  margin: 0 auto;
  height: 734px;
}
.nav {
  border: 1px black solid;
  width: 458px;
  height: 38px;
  list-style: none;
  display: flex;
  margin-left: 656px;
  margin-top: 134px;
  align-items: center;
  float: right;
  position: relative;
  z-index: 1;
  left: -126px;
  padding: 0;
}
.nav__link {
  margin-top: 3px;
  padding: 6px 22px 6px 22px;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  margin-right: 22px;
}
.nav__text {
  color: rgb(37, 27, 55);
  font-family: "Overpass";
  font-weight: 400;
  font-size: 16px;
  line-height: 20.26px;
  line-height: 100%;
  text-align: center top;
}
.poisk-blok {
  height: 36px;
  position: relative;
  left: -12px;
}
.logo {
  font-family: "Fira Sans Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  width: 126px;
  height: 29px;
  margin-top: 138px;
  margin-left: 11px;
  position: relative;
  float: left;
}
.shadow {
  width: 281px;
  height: 395px;
  position: absolute;
}
.header-blok-text {
  width: 524px;
  height: 293px;
  margin-top: 328px;
  margin-left: 10px;
  position: absolute;
}
.header-blok-text__text1 {
  font-family: "Fira Sans Condensed";
  font-size: 75px;
  font-weight: 500;
  line-height: 90px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
}
.header-blok-text__text2 {
  font-family: "Fira Sans Condensed";
  font-size: 48px;
  font-weight: 300;
  line-height: 58px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
}
.header-blok-text__text3 {
  font-family: "Overpass";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  line-height: 100%;
  width: 447px;
}
.header-blok-text__knopka {
  width: 144px;
  margin-top: 36px;
  position: relative;
  left: -10px;
}
.socialmedia-blok {
  width: 200px;
  height: 24px;
  position: relative;
  float: left;
  top: 690px;
  left: -127px;
}
.socialmedia-blok__img {
  width: 22px;
  height: 22px;
  margin-right: 30px;
}
.header__img {
  width: 900px;
  height: 800px;
  float: left;
  margin-top: 38px;
  margin-left: 664px;
  position: relative;
  top: -200px;
  z-index: 0;
}
.Our-products {
  width: 1057px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: center;
  vertical-align: top;
}
.Our-products__title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Fira Sans Condensed";
  position: relative;
  top: -280px;
}
.Our-products__blok {
  width: 1057px;
  height: 417px;
  position: relative;
  top: -170px;
}
.Our-products__img {
  width: 252px;
  height: 415px;
  float: left;
  margin-right: 140px;
  margin-left: 0;
  position: relative;
  left: -53px;
}
.Our-products__img--1 {
  width: 252px;
  height: 415px;
  float: left;
  position: relative;
  left: -53px;
}
.why-us {
  width: 1418px;
  height: 610px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  position: relative;
  top: -150px;
}
.why-us__title {
  font-family: "Fira Sans Condensed";
  font-size: 38px;
  font-weight: 400;
  margin-top: 16px;
  margin-left: 35px;
}
.why-us__img {
  width: 582px;
  height: 610px;
  float: left;
  position: relative;
  top: -100px;
}
.why-us__text {
  width: 678px;
  height: 324px;
  margin-left: 662px;
  margin-top: 57px;
  text-align: left;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 18px;
  line-height: 100%;
  font-size: 14px;
}
.why-us__text--red {
  text-align: left;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 18px;
  line-height: 100%;
  font-size: 14px;
  color: red;
}
.why-us__knopka {
  position: relative;
  left: -300px;
}
